# Docs: http://editorconfig.org
root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[**.{toml,yml,yaml}]
indent_size = 2

[**.{js,jsx,ts,tsx,html}]
indent_size = 2

[**.{json,jsonc}]
indent_size = 2

[*.md]
indent_size = 4
