[submodule "dot_config/kitty/kitty_search"]
	path = dot_config/kitty/kitty_search
	url = https://github.com/trygveaa/kitty-kitten-search
[submodule "dot_config/stpv/stpv"]
	path = dot_config/stpv/stpv
	url = https://github.com/Naheel-Azawy/stpv.git
[submodule "dot_oh-my-zsh/custom/plugins/zsh-notify"]
	path = dot_oh-my-zsh/custom/plugins/zsh-notify
	url = https://github.com/luismayta/zsh-notify
[submodule "dot_oh-my-zsh/custom/plugins/git-extra-commands"]
	path = dot_oh-my-zsh/custom/plugins/git-extra-commands
	url = https://github.com/unixorn/git-extra-commands
[submodule "dot_oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = dot_oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dot_oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dot_oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dot_oh-my-zsh/custom/plugins/zsh-completions"]
	path = dot_oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
