# Docs: https://github.com/tmux/tmux/wiki/Getting-Started
#
# - Ctrl+B: Buffer (Note: this is a configurable prefix that I set to <C- > below)
#   - `<prefix> :` then type tmux configuration commands
#       - e.g. `<prefix> :source ~/.tmux.conf` or path to `dot_tmux.conf` in chezmoi dir
# 	- `<prefix> (Up, Down, Left, or Right Arrow)` to move from one pane to another
# 	- `<prefix> z` to Zoom the current pane (repeat to restore zoom)
# 	- `<prefix> <C-z>` to suspend the session
# 	- `<prefix> x` to Close the current pane (or <C-d>)
# 	- `<prefix> [` to enter copy mode (and `<prefix> ]` to paste). Then vim commands (v, y, hjkl) and C-v to toggle rectangular selection
# 	- `<prefix> "` for vertical split (new pane below) -- note this is opposite of Vim (https://gist.github.com/sdondley/b01cc5bb1169c8c83401e438a652b84e)
# 	- `<prefix> %` for horizontal split (new pane to the right)
#
# https://rickconsole.com/posts/better-tmux/
# https://www.hamvocke.com/blog/a-guide-to-customizing-your-tmux-conf/
# 	https://stackoverflow.com/questions/11832199/tmux-set-g-mouse-mode-on-doesnt-work/33336609#33336609
# https://gist.github.com/spicycode/1229612
# https://github.com/axsuul/dotfiles/blob/master/home/.tmux.conf
# https://github.com/c02y/dotfiles/blob/master/tmux/.tmux.conf
# https://news.ycombinator.com/item?id=26903912
# 	https://tmuxcheatsheet.com/

# Required for Wezterm (https://wezfurlong.org/wezterm/shell-integration.html)
set -g allow-passthrough on

# A better tmux config from: https://github.com/dreamsofcode-io/tmux/blob/e78974dd34fc07c78297b1abb6692f91aabbc4a5/tmux.conf
# And video: https://youtu.be/DzNmUNvnB04?si=4EFfC_3Xj8rEgyjJ

# Use all colors (https://stackoverflow.com/questions/60309665/neovim-colorscheme-does-not-look-right-when-using-nvim-inside-tmux)
# From: https://stackoverflow.com/a/73376447/3219667
set-option -ga terminal-overrides ",xterm-256color:RGB"

# Supports scrollback, click to select, etc.
set -g mouse on

# Use <C- > as the prefix/tmux-leader
# FYI: this conflicts with whole-line completions, which just need to be done twice to pass-through
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix
# TODO: maybe restore default C-b?

# Vim style pane selection
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# Plugins managed with tpm (tpm-install, tpm-update all)
set -g @plugin 'tmux-plugins/tpm'
#
# Just copy: https://github.com/tmux-plugins/tmux-sensible/blob/master/sensible.tmux
# set -g @plugin 'tmux-plugins/tmux-sensible'
#
# Is this necessary?
# https://github.com/tmux-plugins/tmux-yank
set -g @plugin 'tmux-plugins/tmux-yank'

# Can tpm be removed?
# 'brew install tpm'
run '{{- .homebrew_prefix -}}/opt/tpm/share/tpm/tpm'

# set vi-mode for easier yank/copy experience
set-window-option -g mode-keys vi
# With custom keybindings that match Vim defaults
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle
bind-key -T copy-mode-vi y send-keys -X copy-selection-and-cancel

# TODO: And consider improvements from: https://github.com/gpakosz/.tmux

# Clear scrollback history like Wezterm
# FYI: scrollback length is managed in tmux. See: https://stackoverflow.com/a/18777877/3219667
bind-key C-k send-keys C-l \; clear-history

# Move the status line to the top
set-option -g status-position top
