# Sourced for interactive shells - https://unix.stackexchange.com/a/487889

# Added to debug startup time. See: https://lildude.co.uk/speeding-up-my-zsh-shell
[ -z "$ZPROF" ] || zmodload zsh/zprof

# Set bat as default Pager (instead of less)
export PAGER=bat
export EDITOR={{- .homebrew_prefix -}}/bin/nvim

# fzf installer for useful key bindings and fuzzy completion: https://github.com/junegunn/fzf
# 	Run once! $(brew --prefix)/opt/fzf/install
# 	To uninstall! $(brew --prefix)/opt/fzf/uninstall
source ~/.fzf.zsh

# ... hyperfine "zsh -c 'source ~/.config/my_config/_homebrew.sh'"
source $MY_CONFIG/_homebrew.sh
source $MY_CONFIG/_omz.sh
source $MY_CONFIG/_zsh.sh
source $MY_CONFIG/_git.sh
source $MY_CONFIG/_go.sh
source $MY_CONFIG/_mac.sh
source $MY_CONFIG/_node.sh
source $MY_CONFIG/_python.sh
source $MY_CONFIG/cli_tools.sh
source $MY_CONFIG/containers.sh
source $MY_CONFIG/on_login.sh
source $MY_CONFIG/sync.sh

# The following lines were added by compinstall
zstyle :compinstall filename '~/.zshrc'

# PLANNED: Currently replacing asdf with mise
# Configure asdf for managing tool-versions
#   Docs: https://github.com/asdf-vm/asdf
# . $(brew --prefix)/opt/asdf/libexec/asdf.sh

# Configure mise (Rust clone of asdf; previously known as rtx)
eval "$(mise activate zsh)"
export MISE_PIPX_UVX=true

# Added manually for SQLite shell history: https://github.com/atuinsh/atuin?tab=readme-ov-file#shell-plugin
eval "$(atuin init zsh --disable-up-arrow)"

# --------------------------------------------------------------------------------------
# Work

# For the shared configuration synced with yadm
if [[ -f ~/.config/ai_labs/main.sh ]]; then
  source ~/.config/ai_labs/main.sh
fi

# Added by Docker Desktop
if [[ -f ~/.docker/init-zsh.sh ]]; then
  source ~/.docker/init-zsh.sh
fi
# --------------------------------------------------------------------------------------

# See 'ZPROF' above
[ -z "$ZPROF" ] || zprof
