# Sourced on every command - https://unix.stackexchange.com/a/487889

# Preferred editors (set here for Wezterm)
export EDITOR={{- .homebrew_prefix -}}/bin/subl
export VISUAL={{- .homebrew_prefix -}}/bin/subl
