# Sourced once before ~/.zshrc - https://unix.stackexchange.com/a/487889

# Add sbin and bin from homebrew
export PATH="/usr/local/sbin:/usr/local/bin:$PATH"
export PATH="{{- .homebrew_prefix -}}/sbin:{{- .homebrew_prefix -}}/bin:$PATH"

# For asdf-postgres (https://github.com/smashedtoatoms/asdf-postgres/issues/52#issuecomment-1926189618), export the brew prefix
export HOMEBREW_PREFIX={{- .homebrew_prefix }}

# Created by `pipx`
export PATH="/Users/kyleking/.local/bin:$PATH"

# Created by `gritql`
export GRIT_INSTALL="$HOME/.grit"
export PATH="$GRIT_INSTALL/bin:$PATH"

# Source User Configuration Files
export MY_CONFIG=$HOME/.config/my_config

source $MY_CONFIG/on_login.sh
