# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
  AddKeysToAgent yes
  ForwardAgent yes
  IdentitiesOnly yes
  UseKeychain yes

Host yak-shears
  HostName 178.156.207.6
  Port 2222
  User yakshears
  IdentityFile ~/.ssh/id_ed25519_yak_shears
  IdentitiesOnly yes

Host github.com
  IdentityFile {{ .github.ssh_key_path }}
