{
    "GitLive.Issue tracker integration": "Disabled",
    "GitLive.Special branches": "main|master|trunk|dev|develop|qa|test|release[-/].*|stage|prod",
    "[javascript]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint"
    },
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[jsonc]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[markdown]": {
        "editor.defaultFormatter": "yzhang.markdown-all-in-one",
        "editor.insertSpaces": true,
        "editor.tabSize": 4
    },
    "[python]": {
        "editor.defaultFormatter": "ms-python.python",
        "editor.insertSpaces": true,
        "editor.semanticHighlighting.enabled": true,
        "editor.tabSize": 4
    },
    "[typescript]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint"
    },
    "application.shellEnvironmentResolutionTimeout": 30,
    "breadcrumbs.enabled": true,
    "cSpell.enableFiletypes": [
        "asciidoc",
        "c",
        "cpp",
        "csharp",
        "css",
        "go",
        "handlebars",
        "html",
        "jade",
        "javascript",
        "javascriptreact",
        "json",
        "latex",
        "less",
        "markdown",
        "php",
        "pub",
        "python",
        "restructuredtext",
        "rust",
        "scss",
        "text",
        "typescript",
        "typescriptreact",
        "yml"
    ],
    "cSpell.maxDuplicateProblems": 3,
    "cSpell.maxNumberOfProblems": 10,
    "cSpell.userWords": [
        "5V",
        "abcdefghijklmnopqrstuvwxyz",
        "accum",
        "addinivalue",
        "admin",
        "Adminer",
        "agarose",
        "Agarose",
        "aiofiles",
        "aiosmtpd",
        "allowlist",
        "alohomora",
        "amax",
        "amin",
        "analyte",
        "anns",
        "app",
        "arange",
        "Arduino",
        "arg",
        "argparse",
        "args",
        "arial",
        "asarray",
        "ascii",
        "asciicast",
        "asdict",
        "askokcancel",
        "asksaveasfilename",
        "askyesno",
        "assistive",
        "astext",
        "astimezone",
        "astropy",
        "astype",
        "asyavg",
        "asynchron",
        "asyncio",
        "asyseq",
        "atexit",
        "atik",
        "attribs",
        "auditability",
        "auto",
        "autofix",
        "autoflake",
        "autoformat",
        "autogenerate",
        "autohide",
        "automator",
        "autopep",
        "autoupdate",
        "awslocal",
        "axhline",
        "axref",
        "axvline",
        "axvspan",
        "ayref",
        "backend",
        "backgd",
        "barcodes",
        "bboxes",
        "bdist",
        "beartype",
        "beej",
        "bgcolor",
        "bhyaax",
        "bidict",
        "binnings",
        "binsize",
        "biscotti",
        "Bitzer",
        "blabla",
        "Bosco",
        "boto",
        "botocore",
        "br",
        "bruticus",
        "btns",
        "builtins",
        "bulma",
        "byref",
        "c",
        "cacert",
        "calcipy",
        "calibdio",
        "calibnan",
        "cam",
        "camelize",
        "canola",
        "carshare",
        "cartesian",
        "carto",
        "caut",
        "cc'd",
        "cdupont",
        "certifi",
        "cfgmgr",
        "chall",
        "chdir",
        "cheatsheet",
        "checkbox",
        "checkboxes",
        "chenise",
        "chmod",
        "choco",
        "chrissy",
        "cimageproc",
        "cimv",
        "circos",
        "cividis",
        "clahe",
        "clanvas",
        "clasart",
        "clis",
        "cmake",
        "cmap",
        "cmath",
        "cmd",
        "cmdclass",
        "cmdline",
        "cmdloop",
        "cmds",
        "cmocean",
        "cmocka",
        "cname",
        "codebeat",
        "codecov",
        "codehilite",
        "coinit",
        "colspan",
        "colwidth",
        "commitizen",
        "composability",
        "cond",
        "conda",
        "config",
        "configfile",
        "configurability",
        "conftest",
        "contactmotor",
        "content",
        "cookiecutter",
        "coolors",
        "cpack",
        "credssp",
        "crel",
        "crnt",
        "CSVs",
        "ctime",
        "ctrls",
        "ctypes",
        "cwd",
        "cyclomatic",
        "Cython",
        "dagit",
        "dagster",
        "danieltelatnik",
        "dashboarding",
        "dashbrd",
        "dask",
        "data",
        "dataframe",
        "dataframes",
        "datamart",
        "datas",
        "dataset",
        "datasette",
        "datatable",
        "datefmt",
        "datestamp",
        "datetime",
        "dateutil",
        "DC",
        "dcclient",
        "dcconfig",
        "ddict",
        "ddmmmyy",
        "ddmmmyyyy",
        "DDMMYYYY",
        "debuggability",
        "decompiled",
        "deepsource",
        "delim",
        "denormalized",
        "deployables",
        "deps",
        "dersarl",
        "deselect",
        "Deserialization",
        "desktophorzres",
        "detectparams",
        "devpi",
        "devs",
        "dfshome",
        "dict",
        "difflib",
        "digitalio",
        "dioden",
        "directconnect's",
        "disp",
        "dlint",
        "dockerized",
        "docmd",
        "docstrings",
        "doctest",
        "docx",
        "docx python",
        "doit",
        "downloadz",
        "dring",
        "Dropbox",
        "dropdown",
        "dropna",
        "dtick",
        "dtype",
        "dtypes",
        "dupont",
        "dvpr",
        "dword",
        "ecl",
        "eclparser",
        "ehlo",
        "ehour",
        "eigenlite",
        "embase",
        "eminute",
        "enduml",
        "enoent",
        "ensurepath",
        "envops",
        "eplate",
        "errfmt",
        "errno",
        "error",
        "errorlevel",
        "eval",
        "everytime",
        "exe",
        "exifread",
        "exitfirst",
        "explorative",
        "extrema",
        "faas",
        "falsey",
        "fastcore",
        "fastjsonschema",
        "ffmpeg",
        "filecmp",
        "filemode",
        "fileno",
        "fileset",
        "filesets",
        "filetype",
        "fillna",
        "finditer",
        "firstname",
        "firstnamelastname",
        "fixedrange",
        "fixmes",
        "flasgger",
        "flatdict",
        "flesch",
        "fluc_workflows",
        "fnmatch",
        "fontawesome",
        "foregd",
        "formatter",
        "fout",
        "frameon",
        "fspath",
        "fstat",
        "fubo",
        "fubo tv",
        "functools",
        "funcy",
        "funimation",
        "fwpylib",
        "gantt",
        "gapminder",
        "gatech",
        "gauge",
        "gaumont",
        "genfromtxt",
        "gerrit",
        "getctime",
        "getcwd",
        "getenv",
        "getpid",
        "getuid",
        "getuser",
        "gfclient",
        "gfcontext",
        "gfcrequest",
        "gfh",
        "gflib",
        "gfserver",
        "gfstatus",
        "ggplot",
        "gitea",
        "gitignore",
        "gmtime",
        "goodreads",
        "gradescope",
        "graphviz",
        "groupby",
        "groupdict",
        "grpc",
        "grpcio",
        "guids",
        "helpdesk",
        "HHMMSS",
        "highlightjs",
        "histfunc",
        "hkey",
        "hlim",
        "hookimpl",
        "hstack",
        "htmlcov",
        "htsd",
        "iconize",
        "ICSR",
        "iglob",
        "iisstart",
        "iloc",
        "imageproc",
        "Imager",
        "imapclient",
        "img",
        "imghdr",
        "imgs",
        "immiscible",
        "immunogenicity",
        "imread",
        "imsave",
        "imshow",
        "imwrite",
        "indices",
        "inet",
        "inetpub",
        "ingroup",
        "ini",
        "iniparse",
        "INIs",
        "inlinehilite",
        "inout",
        "inplace",
        "inputimeout",
        "instrument",
        "IntelliJ",
        "intg",
        "ipady",
        "ipconfig",
        "ipynb",
        "ipython",
        "isatty",
        "isclass",
        "isdigit",
        "isfunction",
        "isin",
        "isinf",
        "isinstance",
        "isna",
        "isnan",
        "isort",
        "istemperaturelocked",
        "iterrows",
        "itertools",
        "itertuples",
        "iwrite",
        "izip",
        "Jenkinsfile",
        "jenoptik",
        "jmespath",
        "joern",
        "jovyan",
        "jsonify",
        "jsonl",
        "jsonlines",
        "jupyter",
        "jupytext",
        "kalm",
        "kanopy",
        "kking",
        "knexfile",
        "ksize",
        "kubernetes",
        "kwargs",
        "kyleking",
        "lastname",
        "ldap",
        "LEDs",
        "lflatten",
        "lingress",
        "linting",
        "LOCALSTACK",
        "loguru",
        "lohse",
        "ltef",
        "lteu",
        "ltex",
        "ltey",
        "lunr",
        "luxon",
        "lxml",
        "magick",
        "magiclink",
        "magrittr",
        "mainloop",
        "mako",
        "manish",
        "MAPAS",
        "markdownify",
        "masala",
        "materialx",
        "mathjax",
        "maxnpending",
        "maxsize",
        "mdate",
        "meipass",
        "Meso",
        "mesoscale",
        "metabase",
        "mfwpy",
        "mhzcaq",
        "microfluidic",
        "microfluidics",
        "mini",
        "miniconda",
        "mixin",
        "mixins",
        "mkdir",
        "mkdirs",
        "mkdocs",
        "mkdocstrings",
        "mkdtemp",
        "mktime",
        "MMPR",
        "mmuser",
        "mocket",
        "mocketize",
        "mocketizer",
        "moco",
        "modebar",
        "modifiability",
        "moto",
        "mpatches",
        "mrkvdashbrd",
        "mrkvdashbrddev",
        "mrkvwsa",
        "MSDIDC",
        "msdlib",
        "msdpypi",
        "msecs",
        "msgid",
        "msi",
        "msvcp",
        "mtbf",
        "mubi",
        "mulan",
        "MULESOFT",
        "multithreading",
        "munit",
        "mutex",
        "mutpy",
        "MXXXX",
        "n'th",
        "N1",
        "naan",
        "nargs",
        "nbsp",
        "ncol",
        "ncolors",
        "ndarray",
        "nelder",
        "nobackups",
        "noconfirm",
        "noopener",
        "noqa",
        "nord",
        "noreferrer",
        "nosec",
        "noxfile",
        "npending",
        "npmrc",
        "nrows",
        "nsegments",
        "nssm",
        "ntdll",
        "ntlm",
        "ntype",
        "numpy",
        "nums",
        "nunique",
        "nworkerthreads",
        "Nylas",
        "oauth",
        "objs",
        "odbc",
        "ogrid",
        "onchange",
        "onecmd",
        "opencv",
        "openpyxl",
        "openssl",
        "orzo",
        "overscroll",
        "padx",
        "pady",
        "pandera",
        "pandoc",
        "parallelization",
        "paretos",
        "Parexel",
        "pathlib",
        "pattyrn",
        "pcov",
        "pdbpp",
        "PDF",
        "pdoc",
        "pdocs",
        "perror",
        "pfeedback",
        "pgcrypto",
        "pharmacovigilance",
        "phonebook",
        "pipx",
        "plantuml",
        "plantumlcli",
        "playlist",
        "playlists",
        "plone",
        "plotly",
        "plotlyjs",
        "plpgsql",
        "plugin",
        "plugins",
        "plyr",
        "PNG",
        "PNGs",
        "polyline",
        "Popen",
        "popt",
        "popts",
        "posix",
        "PPLMS",
        "pptx",
        "prepend",
        "presigned",
        "printf",
        "println",
        "programmatically",
        "proto",
        "protoc",
        "protos",
        "proxied",
        "PSUR",
        "psutil",
        "psycopg2",
        "pths",
        "pubtmp",
        "puml",
        "py",
        "pycache",
        "pycallgraph",
        "pydantic",
        "pydocstyle",
        "pyenv",
        "pyfits",
        "pyflakes",
        "pyforest",
        "pyinstaller",
        "pyjavaproperties",
        "pyjwt",
        "Pylance",
        "pylint",
        "pylintrc",
        "pymdownx",
        "pymongo",
        "pyodbc",
        "pypandoc",
        "pyparsing",
        "pyperclip",
        "pypi",
        "pypiwin",
        "pyplot",
        "pypoetry",
        "pyproject",
        "pypyodbc",
        "pyrate",
        "pyreverse",
        "pyroma",
        "pyscript",
        "pyspec",
        "pytest",
        "python",
        "pythonic",
        "pytype",
        "pytz",
        "pyupgrade",
        "pywin",
        "pywinauto",
        "pywinrm",
        "pywintypes",
        "redmine",
        "repos",
        "reuseaddr",
        "rfind",
        "RGBA",
        "rglob",
        "rmarkdown",
        "rmdir",
        "rmtree",
        "roadmap",
        "roaminsight",
        "rpartition",
        "rsconfig",
        "rsuffix",
        "rsync",
        "ruamel",
        "runas",
        "scipy",
        "scons",
        "screenshot",
        "sdist",
        "SemVer",
        "serializable",
        "setattr",
        "setenv",
        "setuptools",
        "sharex",
        "sharey",
        "showlegend",
        "showlocals",
        "shutil",
        "signin",
        "signup",
        "simplejson",
        "skipcq",
        "skipif",
        "sklearn",
        "specificity",
        "spyder",
        "sqlalchemy",
        "SQLite",
        "squidfunk",
        "Sriracha",
        "stackers",
        "stackoverflow",
        "startswith",
        "startuml",
        "starz",
        "strftime",
        "strptime",
        "struct",
        "styleguide",
        "subdir",
        "subfolders",
        "submodule",
        "submodules",
        "symlink",
        "symlinks",
        "sysinfo",
        "tasklist",
        "teek",
        "Teigen",
        "tempfile",
        "temporarydirectory",
        "tensorflow",
        "testpypi",
        "textstat",
        "tickvals",
        "timeit",
        "timestamp",
        "tk",
        "tkchild",
        "tkinter",
        "todos",
        "tomcatmanager",
        "toml",
        "tomlkit",
        "tqdm",
        "traceback",
        "truthy",
        "tupperware",
        "txt",
        "typer",
        "ubyte",
        "uint",
        "uint16",
        "uint8",
        "unint",
        "unint8",
        "unlicense",
        "unsplash",
        "uploader",
        "upsert",
        "url",
        "username",
        "userprofile",
        "uuidv4",
        "vectorizer",
        "venv",
        "vgap",
        "virtualenv",
        "vmax",
        "webex",
        "webm",
        "webp",
        "werkzeug",
        "whois",
        "Wikipedia",
        "wkhtmltopdf",
        "wx",
        "wxutil",
        "x86",
        "xanchor",
        "xaxes",
        "xaxis",
        "xdate",
        "xdim",
        "xdist",
        "xlabel",
        "xlabels",
        "xldate",
        "xlim",
        "xlrd",
        "xlsm",
        "xlsx",
        "xmlformat",
        "xmltodict",
        "xticklabels",
        "xticks",
        "xtree",
        "yamllint",
        "yaxes",
        "yaxis",
        "ydata",
        "ylabel",
        "ylim",
        "ymax",
        "ymin",
        "yref",
        "yscrollcommand",
        "yticklabels",
        "yticks",
        "zsplit"
    ],
    "checkov.token": "{{ output "op" "item" "get" "Checkov CI Token" "--field" "password" | trim }}",
    "comments.openView": "never",
    "debug.console.fontSize": 12,
    "diffEditor.ignoreTrimWhitespace": false,
    "diffEditor.renderSideBySide": false,
    "editor.accessibilitySupport": "off",
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": "explicit",
        "source.sortMembers": "explicit"
    },
    "editor.detectIndentation": true,
    "editor.fontFamily": "Operator Mono Narrow, Fira Code, MesloLGS NF, Meslo LG S for Powerline, Consolas, 'Courier New', monospacefont",
    "editor.fontLigatures": true,
    "editor.fontSize": 13,
    "editor.formatOnPaste": false,
    "editor.inlineSuggest.enabled": true,
    "editor.lineHeight": 0,
    "editor.matchBrackets": "always",
    "editor.minimap.enabled": false,
    "editor.minimap.showSlider": "always",
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.occurrencesHighlight": "singleFile",
    "editor.quickSuggestions": {
        "comments": true,
        "other": true,
        "strings": true
    },
    "editor.renderWhitespace": "all",
    "editor.rulers": [
        80,
        88,
        120
    ],
    "editor.scrollBeyondLastLine": true,
    "editor.selectionHighlight": true,
    "editor.showFoldingControls": "always",
    "editor.snippetSuggestions": "top",
    "editor.suggestSelection": "first",
    "editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                "name": "Comments",
                "scope": [
                    "comment",
                    "punctuation.definition.comment"
                ],
                "settings": {
                    "fontStyle": "italic",
                    "foreground": "#99cc99c9"
                }
            },
            {
                "name": "Function Calls",
                "scope": [
                    "meta.function-call.generic.python"
                ],
                "settings": {
                    "foreground": "#9cccccf7"
                }
            }
        ]
    },
    "editor.tokenColorCustomizations|alt": {
        "textMateRules": [
            {
                "name": "Comments",
                "scope": [
                    "string.quoted.docstring.multi.python",
                    "comment",
                    "punctuation.definition.comment"
                ],
                "settings": {
                    "fontStyle": "italic",
                    "foreground": "#99cc99c7"
                }
            },
            {
                "name": "Test",
                "scope": [
                    "meta.function-call.arguments.python",
                    "meta.function-call.generic.python"
                ],
                "settings": {
                    "foreground": "#dddddddb"
                }
            },
            {
                "name": "Functions",
                "scope": [
                    "meta.function-call.generic.python"
                ],
                "settings": {
                    "foreground": "#ffcc66"
                }
            },
            {
                "name": "Keywords",
                "scope": [
                    "keyword.operator.logical.python"
                ],
                "settings": {
                    "fontStyle": "italic"
                }
            },
            {
                "name": "Comments",
                "scope": [
                    "comment",
                    "punctuation.definition.comment"
                ],
                "settings": {
                    "fontStyle": "italic",
                    "foreground": "#99cc999c"
                }
            }
        ]
    },
    "editor.tokenColorCustomizations|colors": [
        "#99cc99",
        "#66cccc",
        "#ffcc66"
    ],
    "editor.tokenColorCustomizations|docs": [
        "Guide: https://medium.com/@nuozheng/how-to-customize-visual-studio-code-theme-colors-a6fb1e94f71f",
        "   Ctrl Shift P",
        "   >Developer: Inspect Editor Tokens and Scopes",
        "Tokenization: https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide",
        "Colors: https://github.com/pgaspar/base16-eighties-dark/blob/master/base16-eighties-dark.tmTheme",
        "Other Dark Themes: https://vscodethemes.com/dark"
    ],
    "eslint.codeActionsOnSave.rules": null,
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "explorer.decorations.badges": false,
    "extensions.ignoreRecommendations": false,
    "files.associations": {
        "*.jsonl": "jsonc",
        "*.snap": "javascript",
        "*.spec": "python"
    },
    "files.eol": "\n",
    "files.exclude": {
        "**/*.egg-info": true,
        "**/*.pyc": true,
        "**/*.pyo": true,
        "**/.classpath": true,
        "**/.factorypath": true,
        "**/.next": true,
        "**/.project": true,
        "**/.pytest_cache": true,
        "**/.settings": true,
        "**/.swc": true,
        "**/.terraform": true,
        "**/.venv": true,
        "**/__pycache__": true,
        "**/build": true,
        "**/build-env": true,
        "**/dist": true,
        "**/doc_pru": true,
        "**/exe": true,
        "**/htmlcov": true,
        "**/pip-wheel-metadata": true
    },
    "files.insertFinalNewline": true,
    "files.trimFinalNewlines": true,
    "files.trimTrailingWhitespace": true,
    "footsteps.highlightColorMaxOpacity": 0.15,
    "git.autofetch": true,
    "git.confirmSync": false,
    "git.enableSmartCommit": true,
    "git.openRepositoryInParentFolders": "always",
    "github.copilot.enable": {
        "*": true,
        "markdown": true,
        "plaintext": true,
        "yaml": true
    },
    "githubPullRequests.defaultCommentType": "review",
    "githubPullRequests.pullBranch": "never",
    "githubPullRequests.showPullRequestNumberInTree": true,
    "githubPullRequests.useReviewMode": {
        "merged": false
    },
    "gitlens.currentLine.enabled": false,
    "gitlens.plusFeatures.enabled": false,
    "javascript.updateImportsOnFileMove.enabled": "always",
    "jupyter.askForKernelRestart": false,
    "markdown-table-formatter.markdownGrammarScopes": [
        "markdown",
        "python"
    ],
    "markdown.preview.fontSize": 13,
    "markdownlint.config": {
        "MD003": {
            "style": "atx"
        },
        "MD007": {
            "indent": 4
        },
        "MD013": {
            "line_length": 9999
        },
        "MD025": true,
        "MD033": {
            "allowed_elements": [
                "detail",
                "img",
                "span",
                "pre",
                "kbd"
            ]
        },
        "MD041": true,
        "MD046": {
            "style": "fenced"
        },
        "MD048": {
            "style": "backtick"
        },
        "default": true
    },
    "markdownlint.config|notes": {
        "FYI:docs": "https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md",
        "MD025|rationale": "Note: set to false for Obsidian because of Kanban",
        "MD041|rationale": "Note: set to false for Obsidian because of Linter"
    },
    "notebook.cellToolbarLocation": {
        "default": "right",
        "jupyter-notebook": "left"
    },
    "projectManager.git.baseFolders": [
        "~/Developer"
    ],
    "python.analysis.disabled": [
        "undefined-variable"
    ],
    "python.analysis.typeCheckingMode|TODO": "off",
    "python.diagnostics.sourceMapsEnabled": false,
    "python.languageServer": "Pylance",
    "python.linting.flake8Args|use-local-.flake8-instead": [
        "--annoy",
        "--assertive-snakecase",
        "--cohesion-below=20.0",
        "--docstring-convention=all",
        "--ignore=D203,D213,D214,D406,D407,G004,PD005,PD011,S322,SC100,SC200,W503",
        "--max-cognitive-complexity=7",
        "--max-complexity=10",
        "--max-function-length=55",
        "--max-line-length=120",
        "--max-parameters-amount=6",
        "--per-file-ignores=test_*.py:S101,DAR101,E800",
        "--select=A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z"
    ],
    "python.pythonPath": ".venv/bin/python3",
    "python.pythonPath|pinned-asdf": "~/.asdf/shims/python",
    "python.venvPath": "./.venv/bin/python",
    "redhat.telemetry.enabled": true,
    "search.mode": "reuseEditor",
    "security.workspace.trust.untrustedFiles": "open",
    "settingsSync.ignoredSettings": [
        "-python.experiments.enabled",
        "-python.experiments.optInto",
        "-python.experiments.optOutFrom",
        "python.formatting.provider",
        "python.linting.flake8Enabled",
        "python.pythonPath",
        "-window.zoomLevel"
    ],
    "sourcery.token": "{{ output "op" "item" "get" "Sourcery Token {Education}" "--field" "password" | trim }}",
    "spellright.documentTypes": [
        "latex"
    ],
    "spellright.language": [],
    "tabnine.experimentalAutoImports": true,
    "terminal.explorerKind": "external",
    "terminal.integrated.cursorBlinking": true,
    "terminal.integrated.enableBell": true,
    "terminal.integrated.fontFamily": "Hack Nerd Font Mono, MesloLGS NF, Meslo LG S for Powerline, Fira Code, Consolas, 'Courier New', monospacefont",
    "terminal.integrated.fontSize": 12,
    "terminal.integrated.inheritEnv": false,
    "terminal.integrated.scrollback": 50000,
    "terminal.integrated.tabs.enabled": false,
    "todo-tree.filtering.excludeGlobs": [
        "**/*.lock",
        "**/CHANGELOG.*",
        "**/legacy-code/**"
    ],
    "todo-tree.general.statusBar": "current file",
    "todo-tree.general.tags": [
        "DEBUG",
        "FIXME",
        "FYI",
        "HACK",
        "NOTE",
        "PLANNED",
        "REVIEW",
        "TBD",
        "TODO"
    ],
    "todo-tree.highlights.customHighlight": {
        "DEBUG": {
            "icon": "bug",
            "iconColour": "#ff00ff"
        },
        "FIXME": {
            "icon": "flame",
            "iconColour": "#ff0000"
        },
        "FYI": {
            "icon": "megaphone",
            "iconColour": "#00ffff"
        },
        "HACK": {
            "icon": "squirrel",
            "iconColour": "#ff00ff"
        },
        "NOTE": {
            "icon": "broadcast",
            "iconColour": "#808080"
        },
        "PLANNED": {
            "icon": "milestone",
            "iconColour": "#FFFFFF"
        },
        "REVIEW": {
            "icon": "comment-discussion",
            "iconColour": "#ff00ff"
        },
        "TBD": {
            "icon": "git-branch",
            "iconColour": "#808080"
        },
        "TODO": {
            "icon": "paperclip",
            "iconColour": "#ffff00"
        }
    },
    "todo-tree.regex.regex": "((\\s|\\()($TAGS)(:[^\\r\\n]))",
    "todo-tree.regex.regex|full": "((//|//-|#|<!--|;|REM|/\\*|^|-)\\s*($TAGS)|^\\s*- \\[ \\])",
    "todo-tree.tree.expanded": true,
    "todo-tree.tree.hideIconsWhenGroupedByTag": true,
    "todo-tree.tree.showCountsInTree": true,
    "todo-tree.tree.tagsOnly": true,
    "todohighlight.keywords": [
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "DEBUG:"
        },
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "FYI:"
        },
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "HACK:"
        },
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "NOTE:"
        },
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "PLANNED:"
        },
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "REVIEW:"
        },
        {
            "backgroundColor": "grey",
            "color": "white",
            "text": "TBD:"
        }
    ],
    "totalTypeScript.hiddenTips": [
        "ts-object-type",
        "basic-types",
        "passing-generics-to-types",
        "type-alias-declaration",
        "record-utility-type",
        "interface-declaration",
        "variable-type-annotation",
        "omit-utility-type",
        "typing-function-parameters",
        "function-return-type",
        "array-type",
        "optional-object-property",
        "partial-utility-type",
        "pick-utility-type",
        "union-type",
        "literal-type",
        "null-keyword",
        "as-assertion",
        "typeof",
        "any-type",
        "undefined-keyword",
        "as-const",
        "as-const-on-object",
        "keyof",
        "type-alias-with-generics",
        "type-alias-with-multiple-generics",
        "in-operator-narrowing",
        "generic-slots-in-functions",
        "conditional-type",
        "never-keyword",
        "nonnullable-utility-type",
        "mapped-type",
        "returntype-utility-type",
        "parameters-utility-type",
        "type-predicate",
        "non-null-expression"
    ],
    "totalTypeScript.hideAllTips": false,
    "totalTypeScript.hideBasicTips": false,
    "typescript.preferGoToSourceDefinition": true,
    "typescript.updateImportsOnFileMove.enabled": "always",
    "vs-kubernetes": {
        "vscode-kubernetes.helm-path.mac": "/Users/kyleking/.vs-kubernetes/tools/helm/darwin-amd64/helm",
        "vscode-kubernetes.kubectl-path.mac": "/Users/kyleking/.vs-kubernetes/tools/kubectl/kubectl",
        "vscode-kubernetes.minikube-path.mac": "/Users/kyleking/.vs-kubernetes/tools/minikube/darwin-amd64/minikube"
    },
    "window.autoDetectHighContrast": false,
    "workbench.colorCustomizations": {
        "editor.findMatchBackground": "#e7b7574d",
        "editor.findMatchBorder": "#80e573a7",
        "editor.findMatchHighlightBackground": "#e7b7574d",
        "editor.findMatchHighlightBorder": "#80e57391",
        "editor.inactiveSelectionBackground": "#c8e7574d",
        "editor.selectionBackground": "#e7b7574d",
        "editor.selectionHighlightBorder": "#e7b757e7",
        "editor.wordHighlightBackground|off": "#737be59a",
        "editor.wordHighlightBorder|off": "#6699CC9a",
        "editor.wordHighlightStrongBackground": "#80e57356",
        "editor.wordHighlightStrongBorder": "#80e573c4",
        "statusBar.background": "#2D2D2D",
        "statusBar.foreground": "#FFCC66",
        "terminal.ansiBlack": "#000000",
        "terminal.ansiBlue": "#5b6ed6",
        "terminal.ansiBrightBlack": "#686868",
        "terminal.ansiBrightBlue": "#6971ff",
        "terminal.ansiBrightCyan": "#60fdff",
        "terminal.ansiBrightGreen": "#60fa67",
        "terminal.ansiBrightMagenta": "#ff77ff",
        "terminal.ansiBrightRed": "#ff6e67",
        "terminal.ansiBrightWhite": "#ffffff",
        "terminal.ansiBrightYellow": "#fffc67",
        "terminal.ansiCyan": "#00c5c7",
        "terminal.ansiGreen": "#00c300",
        "terminal.ansiMagenta": "#ca30c7",
        "terminal.ansiRed": "#c91b00",
        "terminal.ansiWhite": "#c7c7c7",
        "terminal.ansiYellow": "#c7c500",
        "terminal.background": "#241a30",
        "terminal.foreground": "#D0D0D0",
        "terminalCursor.background": "#D0D0D0",
        "terminalCursor.foreground": "#D0D0D0",
        "titleBar.activeForeground": "#FFCC66",
        "titleBar.inactiveForeground": "#FFCC66"
    },
    "workbench.colorCustomizations|alt": {
        "activityBarBadge.background": "#E57373",
        "breadcrumb.activeSelectionForeground": "#E57373",
        "editor.selectionHighlightBackground": "#737be59a",
        "editorSuggestWidget.highlightForeground": "#E57373",
        "editorWidget.border": "#E57373",
        "editorWidget.resizeBorder": "#E57373",
        "list.activeSelectionForeground": "#E57373",
        "list.highlightForeground": "#E57373",
        "list.inactiveSelectionForeground": "#E57373",
        "menu.selectionForeground": "#E57373",
        "menubar.selectionForeground": "#E57373",
        "notificationLink.foreground": "#E57373",
        "panelTitle.activeBorder": "#E57373",
        "pickerGroup.foreground": "#E57373",
        "progressBar.background": "#E57373",
        "scrollbarSlider.activeBackground": "#E5737350",
        "settings.headerForeground": "#E57373",
        "settings.modifiedItemIndicator": "#E57373",
        "tab.activeBorder": "#E57373",
        "terminal.ansiBlue": "#0225c7",
        "textLink.foreground": "#E57373"
    },
    "workbench.colorCustomizations|alt_colors": {
        "@base01": "#515151",
        "@base02": "#393939",
        "@base03": "#2D2D2D",
        "@blue": "#6699CC",
        "@cyan": "#66CCCC",
        "@green": "#99CC99",
        "@magenta": "#D27B53",
        "@orange": "#F99157",
        "@red": "#F2777A",
        "@violet": "#CC99CC",
        "@yellow": "#FFCC66",
        "Note": "Set these themes in the .vscode/settings.json file for project-specific coloring",
        "source": "https://github.com/tyre/base16-eighties-dark/blob/master/styles/colors.less"
    },
    "workbench.colorTheme": "Base16 Eighties Dark",
    "workbench.colorTheme|alt": [
        "Base16 Eighties Dark",
        "One Monokai",
        "One Dark Pro",
        "Dracula"
    ],
    "workbench.editor.decorations.badges": false,
    "workbench.editor.decorations.colors": false,
    "workbench.editor.empty.hint": "hidden",
    "workbench.editor.highlightModifiedTabs": true,
    "workbench.editor.labelFormat": "short",
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook"
    },
    "workbench.list.horizontalScrolling": true,
    "workbench.panel.defaultLocation": "right",
    "workbench.preferredHighContrastColorTheme": "Default Dark+",
    "workbench.sideBar.location": "right",
    "workbench.startupEditor": "welcomePage"
}
