{{- $github_ssh_key_name := .github_ssh_key_name -}}
# Chezmoi self-referential template. Use this format and fill in all values
#	There will be errors for any missing data

[data]
computer_name = "{{ .computer_name }}"
email = "{{ .email }}"
github_ssh_key_name = "{{ $github_ssh_key_name }}"
homebrew_prefix = "{{ .homebrew_prefix }}"

[data.github]
email = {{ output "sh" "-c" (printf "awk '{print $3}' ~/.ssh/%s.pub" $github_ssh_key_name) | trim | quote }}
username = "{{ .github.username }}"
ssh_key_path = {{ joinPath "~/.ssh" $github_ssh_key_name | quote }}
ssh_public_key = {{ output "cat" (joinPath .chezmoi.homeDir ".ssh" (printf "%s.pub" $github_ssh_key_name)) | trim | quote }}
coderabbit_machineId = "{{ .github.coderabbit_machineId }}"

[data.aws]
aws_profile = "{{ .aws.aws_profile }}"

[data.onepassword]
domain = "{{ .onepassword.domain }}"

[data.obsidian]
vault_name = "{{ .obsidian.vault_name }}"

[edit]
# command = "subl"
# args = ["--wait", "--add"]
command = "nvim"
