# Chezmoi self-referential template. Use this format and fill in all values
#	There will be errors for any missing data

[data]
computer_name = "{{ .computer_name }}"
email = "{{ .email }}"
homebrew_prefix = "{{ .homebrew_prefix }}"

[data.github]
email = "{{ .github.email }}"
username = "{{ .github.username }}"
ssh_public_key = "{{ .github.ssh_public_key }}"

[data.aws]
aws_profile = "{{ .aws.aws_profile }}"

[data.onepassword]
account_id = "{{ .onepassword.account_id }}"
domain = "{{ .onepassword.domain }}"

[data.obsidian]
vault_name = "{{ .obsidian.vault_name }}"

[edit]
# command = "subl"
# args = ["--wait", "--add"]
command = "nvim"
