# Chezmoi self-referential template. Use this format and fill in all values
#	There will be errors for any missing data

[data]
email = "{{ .email }}"
computer_name = "{{ .computer_name }}"

[data.github]
email = "{{ .github.email }}"
signing_key = "{{ .github.signing_key }}"
gpg_program = "{{ .github.gpg_program }}"

[data.poetry]
repositories = '''{{ .poetry.repositories }}'''

[edit]
command = "subl"
args = ["--wait", "--add"]

[diff]
pager = "delta"

[merge]
command = "delta"
