#!/bin/bash -e
#      ^----- get shellcheck hints based on bash
# https://github.com/koalaman/shellcheck/issues/809#issuecomment-631194320
#
# Customize AWS

export AWS_PROFILE={{ .aws.aws_profile }}
